/// 全局样式
/* 多行省略 */
.mul-el {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2 !important;
  line-clamp: 2 !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.f {
  display: flex;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.f-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
